
h1,h2,h3,h4,h5,p,img{
    margin-bottom: 0;
}
.bg-cover{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}



//尺寸
.h80{
    height: 80px;
}

//hover
li .bg-hover-primary:hover{
  background-color:#3698FB;
  color:#ffff;
}


