// 計算機區
.calc_bg-img{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("../images/revenue_s.png");
}

// 計算機記錄列表
// 間距
.py-xl{
    padding-top: 150px;
    padding-bottom: 160px;
}

.showdata{
    margin-top:-100px;
}

.showdata .material-icons{
    font-size: 50px;
}
.txt{
    font-size: 30px;
}

.work_hour{
    color: #fff;
    // color:#070e49;
    text-shadow: 20px 0px 40px rgb(0, 172, 251), 10px 20px 80px rgb(56, 76, 255), 0px 0px 30px rgb(106, 195, 255), 0px 0px 90px rgb(251, 252, 255), 0px 0px 20px rgb(193, 222, 255), 10px 0px 30px rgb(138, 212, 255), 0px 0px 100px rgb(255, 255, 255);
}

.text-light2{
    color:#fff;
    text-shadow: 0px 0px 20px rgb(6, 255, 234), 0px 0px 10px rgb(56, 109, 255), 0px 0px 10px rgb(106, 195, 255), 0px 0px 20px rgb(8, 70, 255), 0px 0px 20px rgb(255, 255, 255), 0px 0px 30px rgb(115, 204, 255), 0px 0px 100px rgb(12, 117, 255);
}

//有什麼好處區
.advantage img{
    height: 160px;
    margin-bottom: 20px;
}
.swiper-container {
    height: 350px;
}  

// 加入區
.join img{
    height: 300px;
}





// 不同裝置文字大小
// Extra small devices (portrait phones, less than 576px)
@media(max-width: 400px){
    .py-xl{
        padding-top: 100px;
        padding-bottom: 200px;
    }
}

@media (max-width: 575.98px) {
    .h2-sm{
        font-size: 32px;
    }
    .calc{
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url("../images/revenue_m.png");
    }
    .icon-s{
        font-size: 10px;
    }
  
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    .font-md{
        font-size: 14px;
    }

    .font-sm{
        font-size: 36px;
    }
    .font-xl{
        font-size: 50px;
    }

    
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
    
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
}

// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width